[edutalk]

debug = 0

# please set the public IP
# in case of Docker, please set it to `0.0.0.0`
bind = 0.0.0.0
http_port = 7000

# please change this
secret_key = dev

# by default, it's `.edutalk` dir under your home dir
# userdir = /your/home/.edutalk

# OAuth 2.0 Client ID
client_id = Client ID

# OAuth 2.0 Client Secret
client_secret = Client Secret

# OAuth 2.0 Redirect URI
redirect_uri = Redirect URI

# OpenID Connect Discovery Endpoint
discovery_endpoint = Discovery Endpoint

# OAuth 2.0 revocation endpoint
revocation_endpoint = Revocation Endpoint

# Username of administrator in profile
admin_username = Username

# ID of administrator in profile
admin_sub = ID

# E-mail of administrator in profile
admin_email = E-mail

[edutalk-db]

# Default database is SQLite
#
# type = sqlite
# url = ${edutalk:userdir}/edutalk.db

# Example setting for MySQL
#
# type = mysql
# url = edutalk
# host = localhost
# port = 3306
# user = edutalk
# passwd = passwd

[iottalk]

# please change these url to public accessible url
csm_api = http://localhost/csm
ccm_api = http://localhost/ccm/api/v0
